.full-message {
  margin-bottom: 32px;
}
.message-text {
  background-color: white;
  border-color: black;
  clear: both;
}
.phone-number {
  font-weight: 900;
  float: left;
}

.created-date {
  float: right;
}

.text-counter {
  color: #898989;
  float: right;
}
