<div class="container">
  <mat-card appearance="outlined" class="register-form">
    <h2>Join My SMS Messenger!</h2>
    <h3>Create a user!</h3>
    <mat-card-content>
      <form [formGroup]="signUpForm" (submit)="createUser()">
        <label for="email-input">Email</label>
        <br>
        <mat-form-field appearance="outline" class="message-full-width">
          <input matInput formControlName="email" id="email-input" email>
        </mat-form-field>
        <br>
        <label for="password-input">password</label>
        <br>
        <mat-form-field appearance="outline" class="message-full-width">
          <input matInput formControlName="password" id="password-input" type="password">
        </mat-form-field>
        <br>
        <button mat-flat-button id="submit-button">Submit</button>
      </form>
      <button mat-button [routerLink]="['/auth/login']">Log In</button>
    </mat-card-content>
  </mat-card>
</div>
