.container {
  text-align: center;
}

.register-form H2 {
  text-align: center;
}

.register-form {
  max-width: 600px;
  background-color: white;
  border: none;
  margin: auto;
  #submit-button {
    background-color: black;
  }
}
